{erl_opts, [debug_info,
            warnings_as_errors,
            warn_export_vars,
            warn_unused_import,
            warn_missing_spec_all]}.

{deps, [
    {poolboy, {git, "https://github.com/devinus/poolboy.git", {branch, "master"}}},
    {mongodb, {git, "git://github.com/comtihon/mongodb-erlang", {branch, "master"}}}
]}.